
@{
    ViewBag.Title = "Cadastro";
    <link rel="stylesheet" href="~/Content/Registro.css" />

}

<div class="container">
    <form class="registration-form">
        <h1>Inscreva-se Gratuitamente</h1>
        <h2>Cadastro</h2>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>

        <label for="CPF">CPF:</label>
        <input type="text" id="CPF" name="CPF" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required>


        <label for="Numero">Numero:</label>
        <input type="number" id="Numero" name="Numero" required>


        <button type="submit">Cadastrar</button>
    </form>
</div>
